/* Global Settings */
.footerSection {
  width: 100%;
  background-color: #e9dedc;
  text-align: center;
  -webkit-box-shadow: 5px 5px 5px 5px #777;
  -moz-box-shadow: 5px 5px 5px 5px #777;
  box-shadow: 5px 5px 5px 5px#777;
  padding: 2%;
  margin-top: 10%;
}
.footerSection p {
  color: white;
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
}
.footerImage {
  height: 50px;
  width: 50px;
  padding: 1%;
  border-radius: 50%;
}

/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 325px) and (max-width: 450px) and (orientation: portrait) {
  .footerImage {
    height: 60px;
    width: 60px;
    padding: 3%;
  }
  .footerSection {
    margin-top: 15%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1000px) and (orientation: landscape) {
  .footerSection {
    width: 100%;
    margin-top: 15%;
    text-align: center;
  }
  .footerSection p {
    font-size: 30px;
  }
  .footerImage {
    height: 60px;
    width: 60px;
    padding: 1%;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  .footerSection p {
    font-size: 30px;
  }
}
/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .footerSection {
    width: 100%;
    background-color: #e9dedc;
    padding: 2%;
    text-align: center;
    margin-top: 12%;
  }
  .footerSection p {
    color: white;
    font-family: "Permanent Marker", cursive;
  }
  .footerImage {
    height: 80px;
    width: 80px;
    padding: 2%;
  }
}
/* 
    Laptops Screens */
@media only screen and (min-width: 1145px) {
  .footerSection {
    width: 100%;
  }

  .footerImage {
    height: 80px;
    width: 80px;
    padding: 2%;
  }

  .footerSection p {
    font-size: 30px;
    letter-spacing: 5px;
  }
}

/* Extra Large Screens */
@media only screen and (min-width: 1281px) {
  .footerImage {
    height: 200px;
    width: 200px;
    padding: 2%;
  }
}
