/* GLobal Settings */


/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 325px) and (max-width: 450px) and (orientation: portrait) {
  .navContainer {
    display: none;
  }
  .navLinks {
      display: none;
  }
}

@media only screen and (min-width: 480px) and (orientation: landscape) {

}
/* 
Laptops Screens */
@media only screen and (min-width: 1145px) {
  .navContainer {
    background-color: #E9DEDC;
  }
  .navLinks {
    font-family: "Permanent Marker", cursive;
    font-size: 35px !important;
    color: white !important;
    padding: 1% !important;
    letter-spacing: 4px;
  }
  .nav-link {
    color: white !important;
    font-weight: bolder;
  }
}

/* Extra Large Screens */
@media only screen and (min-width: 1281px) {

}

