/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 325px) and (max-width: 450px) and (orientation: portrait) {
  .navContainer {
    display: none;
  }
  .navLinks {
      display: none;
  }
}

/* @media only screen and (min-width: 480px) and (orientation: landscape) {

} */
/* 
Laptops Screens */
@media only screen and (min-width: 1145px) {
  .navContainer {
    height: 1% important!;
    border-bottom: 2px solid black;
  }
  .navLinks {
    font-family: "Rajdhani", sans-serif !important;
    font-size: 25px !important;
    color: black !important;
    padding: 0% !important;
    letter-spacing: 4px;
  }
  .nav-link {
    color: black !important;
    font-weight: bolder;
  }
}

/* Extra Large Screens */
@media only screen and (min-width: 1281px) {

}

